<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form action="/currencies" method="post" >
      <h1> Create Crypto Currency </h1>
      <label for="">Currency Name:</label>
      <input type="text" name="currency[name]" value="" id="name_id"><br>
      <label for="">Currency Price</label>
      <input type="text" name="currency[price]" value="" id="price_id"><br>
      <input type="submit" value="Create">
    </form>

  </body>
</html>
