<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Market</title>
  </head>
  <body>
    <form class="" action="/currencies/<%= @crypto.id%>/edit" method="post">
      <h1>Edit Currency</h1>
      <input id="hidden" type="hidden" name="_method" value="patch">
        <p>
          <label for="content">Currency Name:</label>
          <input type="text" name="currency[name]" value="<%= @crypto.name%>"><br>
          <label for="content">Currency Price:</label>
          <input type="text" name="currency[price]" value="<%= @crypto.price%>"><br>
          <input type="submit" value="submit">
        </p>
    </form>
  </body>
</html>
