<a href="/currencies/new"><h2>Add New Currency</h2></a>
<br><br>
<h3>Currencies</h3>
<div>
  <% Currency.all.each do |currency| %>
    <p>Currency Name: <%= currency.name %> | Currency Price: <%= currency.price %></p>
  <% end %>
</div>
