<a href="/currencies/new"><h2>Add New Currency</h2></a>
<br><br>
<h3>Currencies</h3>
<ul>
  <% Currency.all.each do |currency| %>
    <li><%= currency.name %> <%= currency.price %></li>
  <% end %>
</ul>
