<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form action="/currencies/index" method="post" name="checkbox_form">
      <div class="bitcoin">
        <h1> Crypto Currency to List</h1>
        <% @currency.each do |currency,price| %>
        <div class="checkbox">
           Currency Name: <%= currency.name %> Currency Price: <%= currency.price %>
        </div>
        <% end %>
      </div>

    </form>

  </body>
</html>
