<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <h1>Currency Holding</h1>
    <nav>
    </nav>
    <div class="row">
      <form action="/delete" method="post" >
        <% @crypto.each do |currency, price|%>
          <p> Currency Name:<%=currency.name%> Currency Price: $ <%=currency.price%> <input type="checkbox" name="currency_id[]" value="<%=currency.id%>" id="<%=currency.id%>"> </input> <input type="submit" name="" value="Remove">
        <%end%>
      </form>
    </div>
  </body>
</html>
