<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form action="/show" method="post" name="new_task">
          <input type="hidden" name="task[list_id]" value="<%= list.id %>" />
    </form>
  </body>
</html>
