<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form action="/show" method="post" name="new_task">
      <% @crypto.each do |currency|%>
        <%=currency.name%> <%=currency.price%>
      <%end%>
    </form>
  </body>
</html>
