<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <h1>Currency Holding</h1>
    <nav>
    </nav>
    <div class="row">
      <form action="/show" method="post" name="new_task">
        <% @crypto.each do |currency, price|%>
          <p> Currency Name: <%=currency.name%> Currency Price: $ <%=currency.price%> </p>
        <%end%>
      </form>
    </div>
  </body>
</html>
