<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <h1>Currency Holding</h1>
    <nav>
    </nav>
    <div class="row">
      <form action="/currencies/<%= @crypto.id %>" method="post" >
          <p> Currency Name:<%=@crypto.name%> Currency Price: $ <%=@crypto.price%> 
      </form>
    </div>
  </body>
</html>
