<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <nav>
      <button type="button" name="button"><a href="/currencies/new">Currency List</a></button>
    </nav>
    <h1>Currency Holding</h1>
    <!-- /currencies/<%= @crypto.id %>/delete will redirect to delete route-->
      <form action="/currencies/<%= @crypto.id %>/delete" method="post" >
        <input id="hidden" type="hidden" name="_method" value="delete">
          <p> Currency Name:<%=@crypto.name%> Currency Price: $ <%=@crypto.price%></p>
            <br><br>
            <input type="submit" value="Delete"> <!-- delete the currency-->
      </form>
  </body>
</html>
