<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <h1>Currency Holding</h1>
    <nav>
    </nav>
      <form action="/currencies/<%= @crypto.id %>/delete" method="post" >
        <input id="hidden" type="hidden" name="_method" value="delete">
          <p> Currency Name:<%=@crypto.name%> Currency Price: $ <%=@crypto.price%></p>
            <br><br>
            <input type="submit" value="Delete">
      </form>
  </body>
</html>
