<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <h1>Currency Holding</h1>
    <div class="row">
      <form action="/show" method="post" name="new_task">
        <% @crypto.each do |currency, price|%>
          <table>
            <tr>
              <td>Currency Name: <%=currency.name%></td> <td>Currency Price: $ <%=currency.price%></td>
            </tr>
          </table>
        <%end%>
      </form>
    </div>
  </body>
</html>
