<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form class="" action="/show" method="post">
      <div class="bitcoin">
        
      </div>

    </form>

  </body>
</html>
