<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form class="" action="/show" method="post">
      <div class="bitcoin">
          <% @currency.each do |currency,price| %>
            <p>Currency Name: <%= currency.name %> Currency Price: $<%= currency.price %> 
          <% end %>
      </div>

    </form>

  </body>
</html>
