<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crypto Currency</title>
  </head>
  <body>
    <form class="" action="/show" method="post">
      <div class="bitcoin">
        <input type="text" name="bitcon" value="Bitcoin">
        <input type="text" name="price" value="$7887.60">
        <input type="checkbox" name="">
        <button type="submit" name="submit"><a href="#">Add</a></button>
      </div>

    </form>

  </body>
</html>
